@page "{id:int}"
@model EditModel
@{
    ViewData["Title"] = "Edit Category";
}

<!-- Back Button -->
<div class="mb-3">
    <a asp-page="./Categories" class="btn btn-link text-secondary text-decoration-none">&lt; Back to Manage Categories</a>
</div>

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <input type="hidden" asp-for="Input.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" />
                <label asp-for="Input.Name"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Color" class="form-label"></label>
                <input asp-for="Input.Color" type="color" class="form-control form-control-color" />
                <span asp-validation-for="Input.Color" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</div>